:root {
  --white-color: hsl(0, 0%, 100%);
  --light-grey-color: hsl(217, 12%, 63%);
  --medium-grey-color: hsl(216, 12%, 54%);
  --dark-blue-color: hsl(213, 19%, 18%);
  --very-dark-blue-color: hsl(216, 12%, 8%);
  --orange-color: hsl(25, 97%, 53%);
}

.card-rating {
  background: linear-gradient(to bottom, var(--dark-blue-color), #20272f, #1c2027, #171a1f, var(--very-dark-blue-color));;
  width: 16rem;
  padding: 20px;
  border-radius: 20px;

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue-color);
  }

  .text {
    p {
      color: var(--light-grey-color);
    }
  }

  .rating-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .rating-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
  
  }
  button {
    background-color: var(--orange-color);
    width: 100%;
    border-radius: 20px;
    margin-top: 25px;
    transition: background-color 0.7s ease-out 100ms;
    text-transform: uppercase;
  
    &:hover {
      background-color: var(--white-color);
      color: var(--orange-color);
    }
  }
}